{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
    <h2>Je change mon mot de passe</h2>
    {% include "@FOSUser/ChangePassword/change_password_content.html.twig" %}
{% endblock fos_user_content %}
