{% extends 'base.html.twig' %}
{% block content %}
    <h2>Tags</h2>
    <div class="row">
        {% for tag in tags %}
            <p>{{ tag.label }}
            <a href="{{ path('delete_tag',{ 'id': tag.id }) }}" class="right">Supprimer ce tag</a></p>
        {% endfor %}
    </div>
{% endblock %}