{% extends 'base.html.twig' %}
{% block content %}
    <h2>Supprimer une photo</h2>
    {% if supression == true %}
        <h3>Bravo !</h3>
        <p>La photo à bien été supprimée</p>
        {% else %}
            <h3>Erreur</h3>
            <p>La photo n'a pas été supprimée</p>
    {% endif %}
    <a href="{{ path('my_photos') }}">Retour aux photos</a>
{% endblock %}