#modalPhoto{
  max-height: 100vh;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  .btn-floating{
    position: absolute;
    top: 20px;
    left: 20px;
  }
  img{
    display: block;
  }
  .responsive-img{
    max-height:90vh;
    max-width: 66vw;
  }
}
#modalForm{
  .btn-floating{
    position: absolute;
    top: 20px;
    left: 20px;
  }
}

// mise en page card home

.card{
  .card-image{
    max-height: 239px;
  }
}

.one{
  img{
    width: 100%;

  }
}
.card{
  &.blob{
    background-color: #d35656;
  }
  &.blob-alternate{
    background-color: #ffd67c;
  }
}
