#modalPhoto{
  max-height: 100vh;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  .btn-floating{
    position: absolute;
    top: 20px;
    left: 20px;
  }
  img{
    display: block;
    min-height: 100vh;
  }
}

// mise en page card home

.card{
  .card-image{
    max-height: 239px;
  }
}

.one{
  img{
    width: 100%;

  }
}